/*first section of resume*/
.me {
  text-align: center;
  background-color: aliceblue;
  width: 100%; 
  padding: 10px; 
  border: 10 px black; 
}

.me p{
  padding: 10px;
}

h1{
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
}



